
<footer>
    <div class="first">
        <p>How was your exprience?
        <div class="like"> <i class="fa-solid fa-thumbs-up" ></i></div>
       <div class="dislike"> <i class="fa-solid fa-thumbs-down"></i></div>
       </p>
       <a  class="contact" href="/counters/contact"> Contact Us <i class="fa-solid fa-message"></i></a>
       
    </div>
    <div class="second">
        <img src="https://c.tadst.com/gfx/n/i/service__supporter.svg" class="image"> 
         <div> 
           <h5>Love Our Site? Become a Supporter</h5>
             <ul>
             <li>Browse our site <b>advert free.</b></li>
            <li>Sun & Moon times <b>precise to the second.</b></li>
            <li> <b>Exclusive calendar templates</b> for PDF Calendar.</li>
            </ul>
        </div>
          <div class="varticle-line"></div>
             <div class="links">
             <h3>Company</h3>
             <a href="/counters/about">Abount Us</a>
             <a href="/counters/contact">Contact Us</a>
             <a href="/contactDetails"> Contact Details</a>
            
             <div class="icons">
                <h5>Follow Us</h5>
                <a href="https://m.facebook.com" ><i class="fa-brands fa-facebook"></i></a>
                 <a href="https://www.instagram.com/"><i class="fa-brands fa-instagram"></i></a>
                 <a href="https://www.youtube.com/"><i class="fa-brands fa-youtube"></i></a>
                <a href="https://in.linkedin.com/"><i class="fa-brands fa-linkedin"></i></a>
            </div>
           
            </div>
             <div class="services">
                <h3>Services</h3>
                <a href="/worldClock">World Clock</a>
                <a href="/calender">Calender</a>
             </div>
        </div>
        <div class="time">
               <img src="https://c.tadst.com/gfx/n/logo/logo-2021--horizontal-color-whitebg.svg" class="img">
               <p>&copy;Time and Date AS 1995-2026</p>
        </div>
        <hr>
     </div>
 <div>
</div>
    </footer>