<% layout('/layouts/boilerplate') -%>
<div class="about ">
    <div><img src="https://c.tadst.com/gfx/company/illustrations/person-on-laptop-searching.svg"></div>
    <div>
     <h1> Time and Date AS </h1>
    <p class="row col-7"> Time and Date AS is based just outside , where our teams work together to operate the world's top-ranking website for time and time zones. With free online services you can rely on, we make it easier to organize your life, both at work and at home.</p>

        <p class="row col-9">  Our German and Norwegian sites, offer the same high level of accuracy and reliability as our English language site. </p>
        <p class="row col-7">  You can also enjoy our content on your phone or tablet because we make apps for Android!</p>
        <p class="row col-5"> And if you are a developer,  to tap into our extensive databases for time and time zones, calendars, and more.</p>
    </div>
    </div>
