<% layout('/layouts/boilerplate') %>
<div   class="feedback">
    <div>
        <label>Your Name</label>
        <br>
        <input type="name">
    </div>
    <br>
    <div>
        <label>Your Email</label>
        <br>
        <input type="email">
        <p>NOTE: The address will only be used to answer your request</p>
    </div>
    
    <div>
        <label>Feedback</label>
        <br>
        <textarea rows="10" cols="73"></textarea>
    </div>
    <button class="bt">Submit Feedback</button>
    
</div>